:root {
    --color1: #0D302C;
    --color2: #fff;
    --color3: #e9e8e8;
    --color4: #00B2A0;
}
/* Цвета */
.color1 {
    color: var(--color1);
}
.color2 {
    color: var(--color2);
}
.bg1 {
    background-color: var(--color2);
}
.bg2 {
    background-color: var(--color3);
}
.addishions, .blog, .services {
    background-color: var(--color3);
}
/* Шрифты */
h1, h2 {
    font-family: 'Raleway';
}
h3, h4, p {
    font-family: 'Roboto Condensed';
}
/* Шапка */
.nav-link:focus, .nav-link:hover {
    color: var(--color3);
}
.nav-link {
    color: var(--color2);
}
header {
    background-image: url(../img/Untitled24_20221218220422.png);
    background-size: cover;
    background-position: center;
    padding: 0 0 300px 0;
}
section {
    padding: 80px 0;
}
h1 {
    font-weight: 700;
    font-size: 100px;
}
h3 {
    font-weight: 400;
    font-size: 24px;
}
/* О школе */
h2 {
    font-weight: 600;
    font-size: 48px; 
}
p {
    font-weight: 300;
    font-size: 14px;
}
/* Дополнения */
.wave1 {
    height: 15px;
    width: 200px;
}
.wave2 {
    height: 15px;
    width: 247px;
}
.wave3 {
    width: 293px;
    height: 15px;
}
/* Цитата */
figure {
    background-color: #dadada;
}
figure p {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
}
figcaption {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
}
/* Видео */
.video h3 {
    font-weight: 700;
    font-size: 64px;
}
/* Услуги */
ul {
    list-style-type: none;
}
/* Обратная связь */
form {
    padding: 0 5%;
}
label {
    color: var(--color4);
}
.my-btn {
    border: 1px solid var(--bs-black);
}
.my-btn:hover, .my-btn:focus {
    background-color: var(--color3);
}
/* Подвал */
footer {
    padding: 20px 0;
    background-color: var(--color4);
}